{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Hello, I'm Sebastian! Welcome to my blog.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm a passionate individual who loves exploring new ideas and sharing my thoughts with the world. With a background in computer science, I've always been fascinated by code. This blog is my platform to share my insights, experiences, and journey of programming.</p>
        <p>When I'm not writing, you can find me coding up a new project.</p>
        <p>I believe in the power of sharing knowledge and experiences, and I hope that the posts on this blog will inspire, inform, or entertain you in some way. Feel free to leave comments or reach out to me directly if you have any questions or suggestions.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}